
.tl_listing_container.tree_view  ul > li.tl_file {
    background: url('./../img/fol-placeholder.gif') no-repeat 6px 1px;
}

.tl_listing_container.tree_view  ul > li.tl_file > div {
    line-height: 18px;
}

.tl_listing_container.tree_view > ul > li.tl_file {
    padding-left: 26px;
}

.tl_listing_container.tree_view  ul > li.parent > ul  {
    padding-left: 20px;
}

.tl_listing_container.tree_view  ul > li > .tl_left > a {
    margin-left: -20px;
}

.tl_listing_container.tree_view  ul[class="level_1"] li.tl_file > .tl_left {
    padding-left: 20px !important;
}

.long .tl_text_2 {
    width: 325px;
}
